body {
    background-color: black;
    color: blanchedalmond;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #461111;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#resultDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreTitles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#textBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

#gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#scoreDiv {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


#buttonDiv{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}